:root {
    --bg-color: #F0F0F0;
    --bg-blurb-color: #E9E5E4;

    --text-color: #403C39;
    --text-dim-color: #8A6F66;
    --story-text-color: #706C49;

    --header-color: #997723;
    --sub-header-color: #6C2F75;
    --title-color: #BC5D2E;

    --highlight-color: #000000;
    --alt-highlight-color: #6C2F75;

    --border-color: #BC5D2E;
    --block-border-color: #813636;

    --sb-bg-color: #E9E5E4;
    --sb-text-color: #c9bbb0;
    --sb-header-color: #E2B031;
    --sb-search-match-color: #161e21;

    --sb-icon-color: #E9E5E4;
}
