.oblique {
  font-style: oblique;
}

.flex {
  display: flex;
}

.fullwidth {
  width: 100%;
}

.smallerfont {
  font-size: 14px.
}

.dimfont {
  color: var(--text-dim-color);
}

.indentsm {
  padding-left: 4px;
}

.pad-bot-sm {
  padding-bottom: 8px;
}

.subtext {
  font-size: var(--font-size-s);
  color: var(--text-dim-color);
  margin-top: 0 !important;
  padding-left: 8px;
}
